.intro {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 17px;
  font-style: italic;
  text-align: center;
}

.TOC-container {
  margin-top: 15px;
  margin: 0 auto;
  width: 1380px;
  height: auto;
}

.table-of-contents {
  padding: 2px;
  margin-left: 10px;
  width: 400px;
  font-family: "Roboto";
  font-size: 17px;

  color: #2c1c0e;
  background-color: #ab6636;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.table-of-contents a:link,
.table-of-contents a:visited,
.table-of-contents a:hover,
.table-of-contents a:active {
  color: #2c1c0e;
}

.how-to {
  margin-left: 30px;
  width: 1380px;
  font-family: "Roboto";
  font-size: 17px;

  color: #2c1c0e;
}

.patch-notes {
  margin-top: 25px;
  margin-left: 30px;
  width: 1380px;
  font-family: "Roboto";
  font-size: 17px;

  color: #2c1c0e;
}

/* responsive */
@media screen and (max-width: 600px) {
  .intro {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .how-to {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .patch-notes {
    width: 400px;
  }
}
