.intro {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  /* margin: 0 auto; */
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.TOC-container {
  margin-top: 15px;
  width: auto;
  height: auto;
}

.table-of-contents {
  margin-left: 10px;
  width: 400px;
  font-family: "Roboto";
  font-size: 18px;

  color: #2c1c0e;
  background-color: #ab6636;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.table-of-contents a:link,
.table-of-contents a:visited,
.table-of-contents a:hover,
.table-of-contents a:active {
  color: #2c1c0e;
}

.how-to {
  margin-left: 30px;
  width: auto;
  font-family: "Roboto";
  font-size: 18px;

  color: #2c1c0e;
}

.patch-notes {
  margin-top: 25px;
  margin-left: 30px;
  width: 400px;
  font-family: "Roboto";
  font-size: 18px;

  color: #2c1c0e;
}

.contact {
  margin-top: 25px;
  margin-left: 10px;
  width: auto;
  font-family: "Roboto";
  font-size: 16px;

  color: #2c1c0e;
}
