:root {
  --raisinBlack: #262626;
  --eerieBlack: #1c1c1c;
  --orchidPink: #f2c3d0;
  --palePink: #f5d5d5;
}

html,
body {
  margin: 0;
  font-family: "Roboto";
  color: var(--eerieBlack);

  background: var(--palePink);
}

/* Header */
header {
  padding: 4px;

  background-color: var(--raisinBlack);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.dropbtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu-items {
  display: none;
  position: absolute;
  background-color: var(--raisinBlack);
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu-items a {
  color: var(--orchidPink);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu-items a:hover {
  background-color: #ddd;
  color: var(--eerieBlack);
}

.dropdown-menu-items a.active {
  background-color: #cf5959;
  color: #fff;
}

.dropdown-menu:hover .dropdown-menu-items {
  display: block;
}

/* header a {
  float: left;
  color: #1e212d;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 8px;
  border-radius: 4px;
}  */

header img {
  height: 45px;
  width: 45px;
}

header img:hover {
  animation: pulse;
  animation-duration: 1.15s;
}

/* .header-right a:hover {
  background-color: rgba(238, 238, 238, 0.199);
  color: #1e212d;
}

.header-right a.active {
  background-color: #cf5959;
  color: #fff;
} */

footer {
  padding-top: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;

  color: var(--eerieBlack);
}

footer a {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  align-items: center;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: #462d17;
}
