.cards-and-parts-container table {
  margin: auto;
  border-collapse: collapse;
  color: #000;
  font-weight: bold;
  text-align: center;
  width: 90%;
}

th {
  background-color: #ab6636;
  border: 1px solid #000;
  padding: 8px;
}

/* Axie 1 */
.axie1 {
  background-color: #f6b3bb;
  color: #000;
  border: 1px solid #000;
  padding: 8px;
}

.axie1 button {
  width: max-content;
  height: max-content;
}

/* Axie 2 */
.axie2 {
  background-color: #f5c65d;
  color: #000;
  border: 1px solid #000;
  padding: 8px;
}

/* Axie 3*/
.axie3 {
  background-color: #9197f2;
  color: #000;
  border: 1px solid #000;
  padding: 8px;
}

.clear-checkboxes {
  text-align: center;
}

.clear-checkboxes button {
  margin-top: 10px;
  margin-left: auto;
  min-width: 150px;
  width: auto;
  height: 30px;
  border-radius: 2px 2px 2px 2px;

  background-color: #ab6636;
  border-color: #1a150e;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.clear-checkboxes button:hover {
  background-color: #d48750;
  color: #fff;
}
