.tools-container {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.energy-calculator-container {
  width: auto;
  height: auto;
  margin: auto;
}

/* Rounds */
.round-container {
  margin-top: 5px;
  margin: 0 auto;
  width: auto;
  display: block;
}

.round-info {
  margin: 0 auto;
  width: 170px;
  text-align: center;
  background: #0000002d;
  border-radius: 4px;
}

.round-info span {
  margin-top: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 900;

  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5d330b;
}

/* Energy */
.energy-quantity {
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 32px;
  letter-spacing: -2px;
}

.energy-quantity img {
  margin-top: 8px;
  height: 90px;
  width: 90px;
  border: 5px solid #5d330b;
  border-radius: 60px;
}

.energy-quantity span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;

  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5d330b;
}

/* Gain-Loss */
.energy-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.energy-tools button {
  cursor: pointer;
  height: 45px;
  width: 180px;
  border-radius: 4px 4px 4px 4px;
  margin: 8px 8px 0;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #5d330b;

  background-color: #e78516;
  border: 4px solid #5d330b;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.energy-tools button:hover {
  background-color: #d9730a;
  color: #fff;
}

.energy-tools button:active {
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

.energy-tools i {
  font-size: 14px;
  align-items: center;
}

#nextRound {
  background-color: #fdb100;
  text-shadow: 1px 1px 2px #5d330b;
}

#nextRound:hover {
  background-color: #c48406;
}

#newArena {
  background-color: #f13232;
  text-shadow: 1px 1px 2px #5d330b;
}

#newArena:hover {
  background-color: #f14747;
  color: #fff;
}

/* Cards */
.cnc-container {
  width: 280px;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 4px solid #5d330b;
  background-color: #8f5656;
}

.cnc-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cnc-grid-item {
  padding: 0.5rem;
}

.enemy-cards {
  width: 60px;
  height: 75px;
  margin-left: 30px;
}

.current-cards {
  position: absolute;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 17px;
  background: #0000002d;
  width: 45px;
  border-radius: 4px;

  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5d330b;
}

.cards-buttons button {
  cursor: pointer;
  height: 45px;
  width: 140px;
  border-radius: 4px 4px 4px 4px;
  margin-left: 20px;

  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #5d330b;

  border: 3px solid #5d330b;
}

.minus-card button {
  background-color: #f13232;
  text-shadow: 1px 1px 2px #5d330b;
  color: #ffffff;
}

.minus-card button:hover {
  background-color: #f14747;
  color: #fff;
}

.minus-card span {
  cursor: pointer;
  position: absolute;
  margin-left: 12px;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  background: #0000002d;
  width: 45px;
  border-radius: 4px;

  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5d330b;
}

.plus-card button {
  background-color: #58c02d;
  color: #ffffff;
}

.plus-card button:hover {
  background-color: #52a130;
  color: #ffffff;
}

.plus-card span {
  cursor: pointer;
  position: absolute;
  margin-left: 12px;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  background: #0000002d;
  width: 45px;
  border-radius: 4px;

  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5d330b;
}

/* Calculator */
.calc-icon {
  width: 45px;
}

#modalBtn {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 5px;
  background: none;
  width: 65px;
  height: 75px;
  background: #5d330b;
  border-radius: 4px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #131313;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #131313;
  border-radius: 4px;
  width: 340px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #ff8800;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fd9013;
  text-decoration: none;
  cursor: pointer;
}

#Display-area {
  width: 100%;
  margin: 3vh 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, minmax(40px, auto));
  word-wrap: break-word;
  padding-bottom: 20px;
  border-bottom: 1px rgba(128, 128, 128, 0.116) solid;
}

#Display-area .currentInput {
  /* display: flex; */
  text-align: right;
  height: 8vh;
  color: white;
  font-size: xx-large;
  line-height: 2;
  word-wrap: break-word;
}

#Display-area .answerScreen {
  text-align: right;
  color: rgba(150, 150, 150, 0.87);
  height: 7px;
  line-height: 3;
  font-size: larger;
}

.keypad-btns {
  display: grid;
  grid: repeat(5, 70px) / repeat(4, 70px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.keypad-btns button {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #131313;
  color: white;
  font-size: x-large;
}

.keypad-btns .fun_btn {
  color: #ff8800;
}

.num_btn:hover,
.fun_btn:hover {
  background-color: rgba(29, 29, 29, 0.979);
}

/* Parts */
.parts-container {
  display: block;
  margin-top: 1rem;
  padding: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 4px solid #5d330b;
}

.parts-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.parts-grid-item {
  padding: 0.5rem;
}

.axie-type-select-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.axie-type {
  cursor: pointer;
  width: 100%;
  max-width: 75px;
  border: 2px solid #5d330b;
  background: transparent;
  color: #443933;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 0px;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.axie1 {
  background-color: #58c02d;
  transition: 0.5;
}

.axie2 {
  background-color: #ffb838;
  transition: 0.5;
}

.axie3 {
  background-color: #ff8cbc;
  transition: 0.5;
}

.mouth {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.horn {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.back {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.tail {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.part-button button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008ec6;
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #5d330b;
}

.part-button button:active {
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

.part-button img {
  height: 38px;
  width: 38px;
}

.part-label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;

  color: #ffffff;
}

.part-label label {
  cursor: pointer;
  background: #db4647;
  border: 3px solid #8c3a21;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;
  line-height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #3e2c2c;
}

.axie-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.disabled button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a19b9b;
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #726868;
}

.disabled label {
  cursor: pointer;
  background: #8d8383ad;
  border: 3px solid #756968;
  color: #727070;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;
  line-height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #3e2c2c;
}

.dead-axie {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #5d330b;

  color: #fff;
  background: #a517a0;
  border: 2px solid #5d330b;
}

.dead-axie:active {
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

.reset-parts {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #5d330b;

  color: #fff;
  background: #ffac00;
  border: 2px solid #5d330b;
}

.reset-parts:active {
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

/* responsive */
@media screen and (max-width: 600px) {
  .round-info {
    width: 140px;
  }

  .round-info span {
    font-size: 28px;
  }

  .energy-quantity {
    position: relative;
    text-align: center;
    letter-spacing: -3px;
  }

  .energy-quantity span {
    font-size: 32px;
  }

  .energy-quantity img {
    height: 65px;
    width: 65px;
  }

  .parts-container {
    display: block;
    margin-top: 1rem;
    padding: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 4px solid #5d330b;
  }
}
