.cards-and-parts-container table {
  margin: auto;
  border-collapse: collapse;
  font-weight: bold;
  text-align: center;
  max-width: 400px;
}

th {
  background-color: #ab6636;
  color: #fff;
  font-weight: 400;
  border: 1px solid #000;
  padding: 8px;
}

/* Axie 1 */
.axie1 {
  background-color: #f0c66e;
  color: #000000;
  border: 1px solid #000;
  padding: 8px;
  font-weight: 500;
}

.axie1 button {
  width: max-content;
  height: max-content;
}

#a1m1 {
  font-size: 18px;
  visibility: hidden;
}

#a1m2 {
  font-size: 18px;
  visibility: hidden;
}

#a1h1 {
  font-size: 18px;
  visibility: hidden;
}

#a1h2 {
  font-size: 18px;
  visibility: hidden;
}

#a1b1 {
  font-size: 18px;
  visibility: hidden;
}

#a1b2 {
  font-size: 18px;
  visibility: hidden;
}

#a1t1 {
  font-size: 18px;
  visibility: hidden;
}

#a1t2 {
  font-size: 18px;
  visibility: hidden;
}

/* Axie 2 */
.axie2 {
  background-color: #ff9ab8;
  color: #000000;
  border: 1px solid #000;
  padding: 8px;
  font-weight: 500;
}

#a2m1 {
  font-size: 18px;
  visibility: hidden;
}

#a2m2 {
  font-size: 18px;
  visibility: hidden;
}

#a2h1 {
  font-size: 18px;
  visibility: hidden;
}

#a2h2 {
  font-size: 18px;
  visibility: hidden;
}

#a2b1 {
  font-size: 18px;
  visibility: hidden;
}

#a2b2 {
  font-size: 18px;
  visibility: hidden;
}

#a2t1 {
  font-size: 18px;
  visibility: hidden;
}

#a2t2 {
  font-size: 18px;
  visibility: hidden;
}

/* Axie 3*/
.axie3 {
  background-color: #5cbfea;
  color: #000000;
  border: 1px solid #000;
  padding: 8px;
  font-weight: 500;
}

#a3m1 {
  font-size: 18px;
  visibility: hidden;
}

#a3m2 {
  font-size: 18px;
  visibility: hidden;
}

#a3h1 {
  font-size: 18px;
  visibility: hidden;
}

#a3h2 {
  font-size: 18px;
  visibility: hidden;
}

#a3b1 {
  font-size: 18px;
  visibility: hidden;
}

#a3b2 {
  font-size: 18px;
  visibility: hidden;
}

#a3t1 {
  font-size: 18px;
  visibility: hidden;
}

#a3t2 {
  font-size: 18px;
  visibility: hidden;
}

.clear-checkboxes {
  text-align: center;
}

.clear-checkboxes button {
  margin-top: 10px;
  margin-left: auto;
  min-width: 150px;
  width: auto;
  height: 30px;
  border-radius: 2px 2px 2px 2px;

  background-color: #ab6636;
  border-color: #1a150e;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.clear-checkboxes button:hover {
  background-color: #bd7847;
  color: #fff;
}

/* responsive */
@media screen and (max-width: 600px) {
  .cards-and-parts-container table {
    margin: auto;
    border-collapse: collapse;
    font-weight: bold;
    text-align: center;
    max-width: 350px;
    max-height: 500px;
  }

  th,
  td {
    font-size: 14px;
  }
}
